# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# IDE / OS
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
desktop.ini

# 本地/临时
*.log
*.tmp
*.bak
.cache/
